<!DOCTYPE html>

{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<html>
<head>
    <style>
      h1 {text-align: left;}
      p {text-align: left;}
      div {text-align: left;}
    </style>
    <title>reconcile</title>

</head>

<body>
    <div class=startbal value="{{ startbal.startbal }}">
    <h1>reconcile</h1>
    <button type="button" id='finished' class="btn btn-primary btn-lg finished" data-bs-toggle="button">finished</button>
    </div>


    <table class="table table-striped" id="table" data-toggle="table" data-height="460">
        <thead class='thead-dark'>
            <tr>
                <th data-field="date" data-sortable="true" scope="col">
                    <h4>date</h4>
                </th>
                <th data-field="payee" data-sortable="true">
                    <h4>payee</h4>
                </th>
                <th data-field="amount" data-sortable="true">
                    <h4>amount</h4>
                </th>
                <th data-field="txn type" data-sortable="true" scope="col">
                    <h4>txn type</h4>
                </th>
                <th data-field="category id" data-sortable="true" scope="col">
                    <h4>cat id</h4>
                </th>
                <th data-field="amount2" data-sortable="true" scope="col">
                    <h4>amount2</h4>
                </th>
                <th data-field="actions" data-sortable="true" scope="col">
                    <h4>actions</h4>
                </th>
                <th data-field="reconcile?" data-sortable="true" scope="col">
                    <h4>reconcile?</h4>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>           
                <td>{{ item.date }}</td>
                <td>{{ item.payee_name }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.cat_id }}</td>
                <td>{{ item.amount2 }}</td>
                <td>
                    <a href="{{ url_for('main.edit_transaction', username=current_user.username, id=item.id) }}">edit</a> <a
                    href="{{ url_for('main.deletedtxn', username=current_user.username, id=item.id, acct=item.acct_id) }}">delete</a>

                </td>                        
                <td>
                    <input class="form-check-input current" value="{{ item.amount }}" name="{{ item.id }}" type="checkbox" id="inlineCheckbox1">
                    <label class="form-check-label" for="inlineCheckbox1" data-amount="{{ item.amount }}" name="{{ item.id }}"            
                    
                </td> 
        
            </tr>
            {% endfor %}
        </tbody>
        </table>


    <table class="table table-striped" id="table" data-toggle="table" data-height="460">
        <thead class='thead-dark'>
            <tr>
                <th>
                    <h4>starting balance</h4>
                </th>
                <th>
                    <h4>reconciledChanges</h4>
                </th>
                <th>
                    <h4>U-entered ending st bal</h4>
                </th>
                <th>
                    <h4>computed end bal</h4>
                </th>
                <th>
                    <h4>difference</h4>
                </th>
            </tr>        
        </thead>
        <tbody>
            <tr>
                <td><span>{{ startbal.startbal }}</span></td>   

                <td><span id=reconciledChanges></span></td>            
                
                <div class=endbal value="{{ prior_end_bal }}"></divclass>
                    <td> {{ prior_end_bal }} </td>
                </div>
                
                <td><span id=difference></span></td>

                <td><span id=discrepancy></span></td>
            </tr>
        </tbody>
    </table>     

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>


<script type=text/javascript>   

    $(document).ready(function() {
    //set initial state   
     $('.finished').hide();  

    function selectValues (querySelector) {
        const returnArray = document.querySelectorAll(querySelector);   

        returnArray.forEach(function(element) {
        let returnBal = currency(element.getAttribute('value'));
        returnValue = returnBal.value;   
    });
        return returnValue;
    }

    let startValue = selectValues('div.startbal');
    // console.log('startValue:', startValue);
    let endValue = selectValues('div.endbal');
    // console.log('endValue:', endValue);

    function compareBalance (startBal, reconciledChange) {
        console.log('startBal', startBal, 'reconciledCh', reconciledChange);
        let compEndBal = startBal + reconciledChange
        $('#difference').text(currency(compEndBal));
        return compEndBal;
    }

    function discrepancyWork (compEndBal, UEndBal) {
        let discrepancy = currency(UEndBal).subtract(compEndBal)
        console.log('discrepancy trying to match:', typeof(discrepancy.value));
            if (discrepancy.value === 0.00) {
            console.log('fuck');
            $('.finished').show();        
            }

        $('#discrepancy').text(discrepancy);
        return discrepancy;
    }

    function reconcileChanges(sumChange, startValue, endValue) {

        if (typeof(sumChange) === "number") {
            console.log("sumChange (branch 1):", sumChange);      
            let compEndBal = compareBalance(startValue, sumChange);
            let discrepancy = discrepancyWork(compEndBal, endValue);
            $.getJSON($SCRIPT_ROOT + '/_reconciled', {
            amount: sumChange, 
            difference: compEndBal
        },  function(data) {
            $("#reconciledChanges").text(data.result);
        })                    
        } else if (typeof(sumChange) === 'object') {
            console.log("sumChange value (branch object):", sumChange.value); 
            let compEndBal = compareBalance(startValue, sumChange.value);
            let discrepancy = discrepancyWork(compEndBal, endValue);
            $.getJSON($SCRIPT_ROOT + '/_reconciled', {
            amount: sumChange.value, 
            difference: compEndBal
        },  function(data) {
            $("#reconciledChanges").text(data.result);
        })      
        }            
        else {
            let sumChange = 0;
            console.log("sumChange (branch zero):", sumChange); 
            let compEndBal = compareBalance(startValue, sumChangee);
            let discrepancy = discrepancyWork(compEndBal, endValue);
            $.getJSON($SCRIPT_ROOT + '/_reconciled', {
            amount: sumChange, 
            difference: compEndBal
        },  function(data) {
            $("#reconciledChanges").text(data.result);
        })      
          
            } 
    }    
    $('.current').change(function() {
        let sumArray = [];
        const reducer = (acc, currentVal) => currency(acc).add(currentVal);       

        if(this.checked) {
            console.log('*****branch checked');
            let collection = document.getElementsByClassName('current');
            //item is an HTMLcollections

            Array.from(collection).forEach(function (element) {
            if (element.checked == true) {                      
                let floatElement = currency(element.value); //currency returns an object not just a number     
                sumArray.push(floatElement.value);
                let sumChange = sumArray.reduce(reducer); 
                reconcileChanges(sumChange, startValue, endValue);
                discrepancyZero();
                }       
            });
            
        } else if (!this.checked) {   
            console.log('******branch unchecked');   
     
            let collection = document.getElementsByClassName('current');

            Array.from(collection).forEach(function (element) {
            if (element.checked == true) {
                let floatElement = currency(element.value)
                sumArray.push(floatElement.value);
                let sumChange = sumArray.reduce(reducer);
                reconcileChanges(sumChange, startValue, endValue);
            }  
            
            else {
                console.log('******branch null'); 
                $('#reconciledChanges').text('0');

            }

            

        });
            }
        });
    }); 
</script>
{% endblock %}
    
</body>
</html>
{% endblock %}


       