<!DOCTYPE html>

{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<html>
<head>
    <style>
      h1 {text-align: left;}
      p {text-align: left;}
      div {text-align: left;}
    </style>
    <title>reconcile</title>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/currency.js@~2.0.0/dist/currency.min.js"></script>

</head>

<body>
    <h1>reconcile, starting balance = {{ startbal.startbal }}</h1>


    <table class="table table-striped" id="table" data-toggle="table" data-height="460">
        <thead class='thead-dark'>
            <tr>
                <th data-field="date" data-sortable="true" scope="col">
                    <h4>date</h4>
                </th>
                <th data-field="payee" data-sortable="true">
                    <h4>payee</h4>
                </th>
                <th data-field="amount" data-sortable="true">
                    <h4>amount</h4>
                </th>
                <th data-field="txn type" data-sortable="true" scope="col">
                    <h4>txn type</h4>
                </th>
                <th data-field="category id" data-sortable="true" scope="col">
                    <h4>cat id</h4>
                </th>
                <th data-field="amount2" data-sortable="true" scope="col">
                    <h4>amount2</h4>
                </th>
                <th data-field="actions" data-sortable="true" scope="col">
                    <h4>actions</h4>
                </th>
                <th data-field="reconcile?" data-sortable="true" scope="col">
                    <h4>reconcile?</h4>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>           
                <td>{{ item.date }}</td>
                <td>{{ item.payee_name }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.cat_id }}</td>
                <td>{{ item.amount2 }}</td>
                <td>
                    <a href="{{ url_for('main.edit_transaction', username=current_user.username, id=item.id) }}">edit</a> <a
                    href="{{ url_for('main.deletedtxn', username=current_user.username, id=item.id, acct=item.acct_id) }}">delete</a>

                </td>                        
                <td>
                    <input class="form-check-input current" value="{{ item.amount }}" type="checkbox" id="inlineCheckbox1">
                    <label class="form-check-label" for="inlineCheckbox1" data-amount="{{ item.amount }}" name="{{ item.id }}">            
                    
                </td> 
        
            </tr>
            {% endfor %}
        </tbody>
        </table>     

    <h3>total selected</h3>
    <span id=result></span>
  


<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>


<script type=text/javascript>

    $(document).ready(function() {
        //set initial state.
        //  $('.current').val(this.checked);

    $('.current').change(function() {
        let sumArray = [];
        const reducer = (acc, currentVal) => currency(acc).add(currentVal);       

        if(this.checked) {
            let collection = document.getElementsByClassName('current');
            //item is an HTMLcollections

            Array.from(collection).forEach(function (element) {
            if (element.checked == true) {                      
                let floatElement = currency(element.value); //currency returns an object not just a number     
                sumArray.push(floatElement.value);
                let sum = sumArray.reduce(reducer); 
                console.log(typeof(sum));
                    if (typeof(sum) === "number") {
                        console.log("sum:", sum);      
                        $.getJSON('http://127.0.0.1:5000/' + '/_reconciled', {
                        amount: sum
                    }, function(data) {
                        $("#result").text(data.result);
                    })                    
                    } else {
                        console.log("sum value:", sum); 
                        $.getJSON('http://127.0.0.1:5000/' + '/_reconciled', {
                        amount: sum.value
                    }, function(data) {
                        $("#result").text(data.result);
                    })      
                    } 
                }       
            });
            
        } else {      
        console.log("else branch");   
        let collection = document.getElementsByClassName('current');

        Array.from(collection).forEach(function (element) {
        if (element.checked == true) {
            let floatElement = currency(element.value)
            sumArray.push(floatElement.value);
            let sum = sumArray.reduce(reducer);
            console.log(typeof(sum));
                if (typeof(sum) === "object") {
                    $.getJSON('http://127.0.0.1:5000/' + '/_reconciled', {
                    amount:sum.value
                    }, function(data) {
                    $("#result").text(data.result);
                })
                 } else {
                    $.getJSON('http://127.0.0.1:5000/' + '/_reconciled', {
                    amount:sum
                    }, function(data) {
                    $("#result").text(data.result);
                })


                 }

                      
        }        
        });
            }
        });
    });


          

   
 
    


 
</script>
{% endblock %}
    
</body>
</html>
{% endblock %}
