<!DOCTYPE html>

{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<html>
<head>
    <style>
      h1 {text-align: left;}
      p {text-align: left;}
      div {text-align: left;}
    </style>
    <title>reconciliation history</title>
</head>
<body>
    <h1>reconciliation history for </h1>
      {% for item in items %}       
      <div> rec id: {{item.id}} | created:{{ item.create_date }} | start: {{ item.start_date }} | end:{{ item.end_date  }} | prior end balance: {{ item.prior_end_balance }} | statement ending balance: {{ item.statement_end_bal }} | <a href="{{ url_for('main.adjust_reconciliation', username=current_user.username, rec_id=item.id) }}">adjust reconciliation</a> |
      <a href="{{ url_for('main.delete_reconciliation', username=current_user.username, id=item.id, acct_id=item.acct_id) }}">delete </a> 
      {% endfor %}
      </form>
</body>
</html>
{% endblock %}

