<!DOCTYPE html>

{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<html>
<head>
    <style>
      h1 {text-align: left;}
      p {text-align: left;}
      div {text-align: left;}
    </style>
    <title>chart of accounts</title>
</head>
<body>
    <h1>accounts</h1>
      {% for item in items %}
       
      <div> name: {{ item.acct_name }}        
      <div> type: {{ item.type }}        
      <div> account identifier:  {{ item.id  }} 
      <div><a href="{{ url_for('main.edit_account', username=current_user.username, id=item.id) }}">click to edit this account</a>
      <div><a href="{{ url_for('main.register', username=current_user.username, id=item.id) }}">account register</a>
        <hr>
      {% endfor %}
      <div><a href="{{ url_for('main.create_account', username=current_user.username) }}">create account</a>
      <div><a href="{{ url_for('main.delete_account', username=current_user.username) }}">delete account</a>
      </form>
</body>
</html>
{% endblock %}
