.container1 {
    display: flex;
    border-style: solid;
    border-width: thin;
    border-color: gray;
  }

  .subs {
    display: flex;
    border-style: solid;
    border-width: thin;
    border-color: gray;
  }
  
  .table {
    flex-grow: 1;
    height: 50px;
    width: 100px;
    /* font-size: 10px; */
    /* overflow: visible !important; */
    /* border-style: solid; */
    /* border-width: 1px; */
  }


  .both {
    /* padding: 7.5px 1px 7.5px 1px; */
    padding: 3px !important;
    height: 50px;
    width: 75px !important;
    margin: 0px !important;
    /* font-size: 10px; */
    /* overflow: visible !important; */
    /* border-style: solid; */
    /* border-width: 1px; */
  }


  
  h4 {

    font-size: 11px  !important;

  }

  .col-sm {
    flex-grow: 1;
    height: 25px;
    font-size: 1rem;
    /* width: 100px; */
    /* border-style: solid; */
    /* border-width: 1px; */
  }

  .btn-sec {
    /* display: table-cell; */
    /* display: flex; */
    flex-grow: .1; 
    min-width: 0;
    /* width: 30px; */
    display: inline;
    text-align: center;
    color: blue;
    vertical-align: middle; 
 
  } 

  .form-control-inline {
    min-width: 0;
    width: 50px;
    display: inline;
}

/* .finished {
    visibility: hidden;

 
  }  */



